// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post{
   text-align:center;color:black;
  }
.linkpost{
           font-size:30px;
           display:blok;
           margin-left:85%;
          }
.fnameenter{ 
            font-size:20px;
            display:block;
            }
.lnameenter{
             font-size:20px;
             display:block;
             } 
.pincodeenter{
               font-size:20px;
               display:block;
             }
 .link{
        font-size:20px;
        
      }
.body{
	   background-color:#99ffff;
     }


